extends layout

block content
  div.maintext
    h1 About this Web Application

    p This web application was created primarily to be a coding sample for future employers. Right now I am working through courses in the Microsoft Professional Program for Entry Level Software Development, with the goal of obtaining a job in the field by February 2019.

    p The website itself was developed using Node.js and the Express Application Generator. It utilizes Pug as a view engine, and is connected to a SQLite database. The database was created based on information obtained from a table of <a href ='https://bulbapedia.bulbagarden.net/wiki/List_of_Pok%C3%A9mon_by_availability'>Pokémon by Availability</a>, which can be found on <a href = 'https://bulbapedia.bulbagarden.net/wiki/Main_Page'>Bulbapedia</a>. I randomly selected 100 entries, and fact-checked them against data from <a href='https://www.serebii.net/'>Serebii</a> to verify accuracy, and found no errors.

    p The code for the web application is available on <a href='https://github.com/jordanmkimball/path-to-catch-them-all'>Github</a>, for any who are interested. 

    img#espeon(src = '../images/espeon.png', alt = 'A Pixelated Picture of Espeon')

