extends layout


block content
  div.maintext
    h1= title

    p In 1996 when there were only two Pokémon games out, this was an easier question to answer. Skip forward 22 years and 29 core-series games later, and suddenly the solution doesn’t seem so easy to find anymore. Each game has its own unique set of Pokémon that you can obtain through capturing, evolving, breeding or receiving. Its been the childhood dream of many a kid to finally be able to Catch’em all, but just what is the best way to go about doing that?
  
    p That’s where we come in. At Path to Catch’em All we will use the games you already have to calculate:

    ul
      li How many Pokémon you can obtain in game through capturing, evolving, breeding, or receiving.
      li A list of which Pokémon you CAN obtain in game through capturing, evolving, breeding, or receiving.
      li And finally, we will let you know which game you should buy to net you the most new Pokémon, based on the games you already have.
    img#pikachuImg(src= '../images/pikachu.png', alt = 'A picture of Pikachu')
    <br>
    <br>
  
    a.noColor(href= '/yourpath') <button class="button" style="vertical-align:middle"><span>Calculate My Path </span>

    