doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  block body
    body
      header
        h1#websiteHeader #[em Path to Catch'em All]
          img#eeveeImg(src = '../images/eevee.png' alt = 'A Picture of Eevee')
  block topnavbar
      div.topnav 
        a(href="/") Home
        a(href="/yourpath") Your Path to Catch'em All
        a(href="/newplayers") New Players
        a(href="/about") About

  block content
