extends layout

block content
  div.maintext
    h1 My Account

    //This div only shows up if the user hasn't entered their name in the form yet
    div#nameForm

      p Enter your name below to help customize your Pokémon path. Your name will then appear on various parts of the website.
      <br>

      form(method='' action='')
        .form-group
        label Account Information: <br><br>

          label First Name: <br>
          input#inputNameTextbox(type="text", name="firstname")
          <br>
          <br>
          input#submitButton(type="submit", value="Submit")

    div#welcomeUserBlock(hidden="true")
      <br>
      //JavaScript will replace the "user" below with the actual username 
      h2#welcomeUserText Welcome, user!
      <br>
      <br>
      button.btn.btn-primary(type='submit') Clear Account Data

    div
      <br>
      <br>
      //Actual date for dateAndTime <span> will be inserted directly from myAccountScripts.js
      p <span class="underline"> Today's date and local time</span><span id="dateAndTime">:  </span>

    div
      <br>
      //This is where the localized string will go. The string that varies based on the users language settings
      p#localizedString
      


  script
    include clientside-js/moment.js
    include clientSide-js/myAccountScripts.js
