extends layout

block content
  .maintext
    h1 Quickest Path to Catch'em All for New Players

    p If you are just getting started on your Pokémon journey, there is an optimal order to play the Pokémon games in. The Pokémon path calculator on this website assumes that you are not making any trades with other players except for trades that are necessary to evolve a Pokémon like Haunter to Gengar. Without this assumption you would only need one game to catch’em all: either Ultra Sun or Ultra Moon, because theoretically some generous person could trade one of every Pokémon to you tomorrow, and your journey to catch’em all would be complete. However, this is both an unlikely scenario, and would also take must of the fun out of the game.


    p To catch every Pokémon that isn’t event exclusive without using any non-evolution trades, you only need five games:

    
    ul
      li Ultra Sun
      li Ultra Moon
      li Either Omega Ruby or Alpha Sapphire
      li X or Y
      li Crystal (3DS Virtual Console)
    
    p <span class = 'underline'>Note</span>: If you purchase Pokemon X you must unlock access to the Dark and Fairy Friend Safari Zones. If you purchase Y you must unlock access to the Fighting and Fairy Friend Safari Zones.

    p These can be played in any order, however I would personally recommend starting with either Ultra Sun or Ultra Moon, as these are the games that are currently receiving special event Pokémon.

    p Crystal is part of this list because the 3DS version of the game is currently the only game where you can catch Celebi. 

    img#ditto(src = '../images/ditto.png', alt='A picture of Ditto')